@model IEnumerable<testad.Models.DocumentsIB>

@{
    ViewData["Title"] = "Index";
}

    <h1 class="text-center">Список документов</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Добавить новый документ</a>
</p>
    <table class="table table-striped d-xl-table table-dark">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning btn-sm">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm">Удалить</a>
                        <a asp-action="GetFile" asp-route-id="@item.id" class="btn btn-success btn-sm" target="_blank">Загрузить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

